/* Add these styles to your CSS files for the tooltip to work */

#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 5px 10px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

#tooltip p {
  margin: 0;
  line-height: 20px;
}

.hidden {
  display: none;
}